<!DOCTYPE html>
<html>
<head>
  <title>App Board</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "App Board", root_path %>
      </div>
      <% if member_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Account", edit_member_registration_path(current_member) %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_member_session_path, method: :delete %>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Sign Up", new_member_registration_path %>
        </li>
        <li>
          <%= link_to "Sign In", new_member_session_path %>
        </li>
      </ul>
      <% end %>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

</body>

</html>
